i {
    background: transparent;
    color: white;
}

header {
    height: 5vh;
    background-color: black;
}

#head_logo {
    height: 100%;
}



/*////////// MOBILE BY DEFAULT^v //////////*/
body {
    box-sizing: border-box;
    font-size: .9em;
    margin-left: auto;
    margin-right: auto;
  }

/*////////// half/vert tablet //////////*/
@media screen and (min-width: 500px) {


}

/*////////// fullscreen //////////*/
@media screen and (min-width: 1100px) {


}