* {
    font-family: 'Rubik', sans-serif;
}

html{
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    font-size: .9em;
    /*margin-left: auto;
    margin-right: auto;*/
  }

header {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    font-family: 'Viga', sans-serif;
    display: inline-block;
}

nav{
    display: inline-block;
}

nav > div {
    display: inline-block;
}

i {
    background: transparent;
    color: white;
}

footer {
    height: 3vh;
}

@media screen and (orientation:portrait) {

    * {

    }

    body {
        background-image: url("/img/sti-H.jpg");
        background-position: top center;
        background-size: auto 100vh;
        position: absolute;
        top: 3vh;
        color: black;
    }

    header {
        height: 3vh;
        background-color: #1a4871;
        color: white;
    }

    nav > div > a {
        color: white;
        text-decoration: none;
    }

    h1{
        color: white;
    }

    body{
        top: 3vh;
    }

    h1{
        font-size: 2vh;
    }

    #logo_frame {
        height: 3vh;
        width: 3vh;
        display: inline-block;
        background-image: url("/img/peaklogo500w.png");
        background-size: 2.5vh 2.5vh;
        background-repeat: no-repeat;
        background-position: center;
    }


}

@media screen and (orientation: landscape) {

    * {

    }

    header {
        height: 5vh;
        background-color: #1a4871;
        color: black;
    }

    nav > div > a {
        color: black;
        text-decoration: none;
    }

    h1{
        color: black;
        font-size: 3.5vh;
    }

    body{

        background: url("/img/sti-H.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        position: absolute;
        top: 5vh;
        color: white;
        width: 60%;
    }

    #logo_frame {
        height: 5vh;
        width: 5vh;
        display: inline-block;
        background-image: url("/img/peaklogo500b.png");
        background-size: 4.5vh 4.5vh;
        background-repeat: no-repeat;
        background-position: center;
    }
}