<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="transparent_body" id="teams" th:fragment="teams">

    <div class="team_card" th:attr="data-id=${team.id}" th:each="team : ${locations[2].teams}">
        <span th:text="${team.difficulty}"></span>
        <span th:text="${team}"></span>
        <span th:text="${team.users.size()} + '/' + ${team.capacity}"></span>
        <span th:text="${team.description}"></span>
        <!--<span>beer. blackjack. hookers</span>-->

        <!--diff-img | group name | how full-->
        <!--short description 140 characters-->

    </div>

</div>

</html>