<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="common :: head"></head>

    <body>

        <header th:replace="common :: header"></header>



        <!--<header>-->
            <!--<div id="test" th:replace="common :: nav"></div>-->

            <!--<h1>Test Home</h1>-->
        <!--</header>-->

    </body>


<!--<head>-->
    <!--<title>peak</title>-->
<!--</head>-->
<!--<body>-->

    <!--<header>-->

        <!--<div th:replace="common :: nav"></div>-->
        <!--<h1>Test Home</h1>-->
    <!--</header>-->
    <!--<main>-->

    <!--</main>-->
    <!--<footer>-->

    <!--</footer>-->
</body>

    <!--<script>alert("here");</script>-->

</html>