<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="c_head :: head"></head>

    <!--<div class="modal" th:replace="landing :: landing"></div>-->

    <body>

        <section id="head_space"></section>
        <!--id="logo_frame"-->
        <header th:replace="c_header :: header"></header>

        <section id="mobile_nav_spacer"></section>

        <nav id="mobile_nav">
            <div id="mobile_nav_button_left">
                <i id="nav_icon" class="fas fa-mountain"></i>
            </div>
        </nav>

        <div id="mobile_nav_buttons_right">
            <nav th:replace="c_nav_m :: nav_m"></nav>
        </div>

        <!--class="shades" id="vertical_locations"-->
        <div th:replace="c_locations :: locations"></div>
        <div th:replace="c_locations_m :: locations"></div>
        <!--<nav th:replace="c_nav_m :: nav_m"></nav>-->

        <div class="shades" id="mountain_detail">


            <div id="resort_title"><h1 id="ajax_test"th:text="${locations[0]}"></h1></div>

            <div id="report_container">
                <iframe id="o80696" height="300" border="0" frameborder="0" scrolling="no" th:src="'https://www.onthesnow.com/widget/snow?resort=' + ${locations[0].widgetId} + '&color=b'"></iframe>
                <p id="add_tag"><a th:href="${locations[0].otsUrl}" target="_blank">Report from OnTheSnow.com</a></p>
            </div>


            <div id="map"></div>

        </div>


        <!--<div id="map"></div>-->
<section id="create_a_team" class="shades">
    <a sec:authorize="isAuthenticated()" id="create" th:href="'/newteam?resortId=' + ${locations[0].id}"><p>Create a Team</p></a>
</section>

    <div th:replace="c_teams :: teams"></div>


        <!--<div class="transparent_body">-->
            <!--<i class="fas fa-snowboarding"></i>-->
            <!--<i class="fas fa-skiing"></i>-->
            <!--<i class="fas fa-skiing-nordic"></i>-->
            <!--<i class="fas fa-users"></i>-->
            <!--<i class="fas fa-snowflake"></i>-->
            <!--<i class="fas fa-mountain"></i>-->
            <!--<i class="fas fa-info-circle"></i>-->
            <!--<i class="fas fa-bars"></i>-->
        <!--</div>-->

    </body>




    <script src="/js/views.js" type='text/javascript'></script>
    <script src="/js/maps.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxgddLplSZhq5H2eEIxCPdacE-VmAWHk0&callback=initMap"
            async defer></script>

</html>