<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="c_head :: head"></head>

    <body>

        <header th:replace="c_header :: header"></header>



        <!--<div th:replace="c_locations :: locations"></div>-->

        <!--<div id="mountain_detail">-->
                <!--mountain detail. this part needs to-->
                <!--draw based on what is clicked in the-->
                <!--locations nav to the left, id vertical_locations-->
            <!--</div>-->

        <!--<div th:replace="c_teams :: teams"></div>-->



    </body>


</html>