<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <header>
        <div th:replace="common :: nav"></div>
        <h1>Login Test</h1>
    </header>
    <main>
        <form action="/perform_login" method="post">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">

            <label for="password">Password</label>
            <input type="password" name="password" id="password">

            <input type="submit" name="Login">
        </form>
    </main>
    <footer>

    </footer>
</body>
</html>